<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Soulfix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Soulfix.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true" />

</head>
<body>
<style>
    .dropdown-menu-active{
        display:block !important;
    }

    .perfil{
            flex-grow: 0 !important;
    }
</style>
<script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.querySelector("#dropdownMenuButton").addEventListener('click', function () {
                document.querySelector(".dropdown-menu-entity").classList.toggle("dropdown-menu-active");
            })

            document.querySelector("#dropdownMenuPerfil").addEventListener('click', function () {
                document.querySelector(".dropdown-menu-perfil").classList.toggle("dropdown-menu-active");
            })
        });


</script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Soulfix</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                          
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>

                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Serviços    
                            </a>
                            <div class="dropdown-menu dropdown-menu-entity" aria-labelledby="dropdownMenuButton">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Index">Evento</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Usuários</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Clientes</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                               
                            </div>
                        </li> *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Index">Calendar</a>
                        </li>
                       
                    </ul>


                    <ul class="navbar-nav flex-grow-1 perfil">
                        <li class="nav-item">

                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Buy Beens</a>
                           
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" role="button" id="dropdownMenuPerfil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Meu Perfil
                            </a>
                            <div class="dropdown-menu dropdown-menu-perfil" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Config">Configs</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Perfil</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Admin</a>

                            </div>
                        </li>



                        <li class="nav-item">
                            @* <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Index">Calendar</a> *@
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">

                        </li>
                    </ul>









                </div>
            </div>
        </nav>


        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <title>Simple Sidebar - Start Bootstrap Template</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="css/styles.css" rel="stylesheet">
        </head>
        <body>
            <div class="d-flex position-fixed p-0" style="margin-top:-16px" id="wrapper">
                <!-- Sidebar-->
                <div class="border-end " id="sidebar-wrapper" style=" height:15em; width:15em">
                    <nav class="nav">
                        <ul class="list-group w-100">
                            <li class="list-inline-item list-group-item p-3 w-100">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Inicio</a>
                            </li>
                            <li class="list-inline-item list-group-item p-3 w-100">
                                <a class="nav-link text-dark" asp-controller="Access" asp-action="Index">Acessos</a>
                            </li>
                            <li class="list-inline-item list-group-item p-3 w-100">
                                <a class="nav-link text-dark" asp-controller="Config" asp-action="Index">Configurações</a>
                            </li>

                        </ul>
                    </nav>

                    <nav class="nav">
                        <ul class="list-group w-100">
                            <li class="list-inline-item list-group-item p-3 w-100">
                                <h4 class="nav-link text-dark">Estrutura</h4>
                            </li>

                            <li class="list-inline-item list-group-item p-3 w-100">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Index">Evento</a>
                               
                            </li>
                            <li class="list-inline-item list-group-item p-3 w-100">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Usuários</a>
                               
                            </li>
                            <li class="list-inline-item list-group-item p-3 w-100">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Clientes</a>
                                
                            </li>

                            <li class="list-inline-item list-group-item p-3 w-100">
                                
                                <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                            </li>

                            <li class="list-inline-item list-group-item p-3 w-100">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />

                            </li>

                        </ul>
                    </nav>
                </div>
                <!-- Page content wrapper-->
                <div id="page-content-wrapper">
                    <!-- Top navigation-->
                    <!-- Page content-->
                </div>
            </div>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>


        </body>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
           
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Soulfix - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/calendar.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
